/*.navbar-inner > .container-fluid {
    min-height: 52px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #B44F3c !important;
    background-image: none;
    background-repeat: repeat-x;
    border: 0px solid #030303;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
}
.dir-ltr .usermenu {
    float: right;
    margin-top: 10px;
}*/